.WeatherBox {
    text-decoration:none;
    position:relative;
}

.WeatherBox .weatherDescriptionText {
    display:none;
}

.WeatherBox:hover .weatherDescriptionText{
    display:block;
    position:fixed;
    overflow:hidden;
}
